.card_media{
    position: relative;
}

.etiqueta{
    position: absolute;
    top: 12px;
    left: 12px;
}

.favorito{
    position: absolute;
    top: 12px;
    right: 12px;
}

.selo{
    position: absolute;
    /* bottom: 0; */
    top: 50%;
    left: 50%;
}